<h1> {{ title }} </h1>
<div>
<div id="AG" class="box1"><div>A+</div></div> 
<div id="AGQ" class="box2"><div>3</div></div>
<div class="box1"><div>B+</div></div> 
<div class="box2"><div>8</div></div>
<div class="box1"><div>O+</div></div> 
<div class="box2"><div>2</div></div>
<div class="box1"><div>AB+</div></div> 
<div class="box2"><div>5</div></div><br>
<div class="box1"><div>A-</div></div> 
<div class="box2"><div>9</div></div>
<div class="box1"><div>B-</div></div> 
<div class="box2"><div>6</div></div>
<div class="box1"><div>O-</div></div> 
<div class="box2"><div>8</div></div>
<div class="box1"><div>AB-</div></div> 
<div class="box2"><div>3</div></div>


<form> 
  <h2>REQUIREMENT FORM</h2>
  Blood Required:<input [(ngModel)]="BloodBankModel.BloodRequired"
   [ngModelOptions]="{standalone: true}" type= "text" list="BloodGroup"/>
   <datalist id="BloodGroup">
      <option *ngFor="let blood of blood" [value]="blood.bloodgroup" >
        {{ blood.bloodgroup }}
      </option>
   </datalist>  
    
  <br><br>
  No of Bottles: <input  [(ngModel)]="BloodBankModel.NoofBottles"
   [ngModelOptions]="{standalone: true}" type="text" />
</form>
  <h2 style="margin-left:700px">BUCKET</h2>
  <div class="bucket"></div>
</div>